* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden, #hidden {
    display: none;
}

.festivo {
    color: red;
}

.calendario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button {
    font-size: 18px;
    padding: 15px 10px;
    margin: 0 100px;
}

.mese-precedente:disabled, .mese-successivo:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

header h1 {
    font-size: 70px;
}

#mese {
    text-transform: capitalize;
}
/* FINE HEADER */


/* GRIGLIA */
.riga-giorni-settimana, .giorni-mese {
    display: flex;
}

.giorni-mese {
    flex-wrap: wrap;
    max-width: 80vw;
}

.giorno-settimana {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80vw / 7);
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid black;
}

.giorno {
    padding: 5px;
    width: calc(80vw / 7);
    height: calc(80vw / 12);
    border: 1px solid black;
}

.numero-giorno {
    font-size: 26px;
    font-weight: bold;
}

.testo-numero-giorno {
    font-size: 20px;
}
/* FINE GRIGlIA */


/* MEDIA QUERY */

@media screen and (max-width: 1200px) {

    header h1 {
        font-size: 45px;
    }

    header button {
        font-size: 22px;
        margin: 0 35px;
        padding: 10px 15px;
    }
}


@media screen and (max-width: 992px) {

    .hidden, #hidden {
        display: flex;
    }

    .active {
        display: none;
    }

    header h1 {
        font-size: 40px;
    }

    header button {
        margin: 0 25px;
    }

    .giorno-settimana {
        font-size: 35px;
        height: 65px;
    }

    .giorno {
        height: calc(80vw / 8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numero-giorno {
        font-size: 30px;
    }

    .testo-numero-giorno {
        display: none;
    }
}


@media screen and (max-width: 768px) {

    header h1 {
        font-size: 30px;
    }

    header button {
        font-size: 22px;
        padding: 15px 25px;
    }

    .giorno-settimana {
        width: calc(90vw / 7);
        font-size: 30px;
    }

    .giorni-mese {
        max-width: 90vw;
    }

    .giorno {
        width: calc(90vw / 7);
    }

    .numero-giorno {
        font-size: 28px;
    }
}


@media screen and (max-width: 576px) {

    header h1 {
        font-size: 20px;
    }

    header button {
        font-size: 14px;
        margin: 0 15px;
        padding: 10px 7px;
    }

    .giorno-settimana {
        font-size: 20px;
    }

    .numero-giorno {
        font-size: 18px;
    }
}






/*  */
